experiment_stuff/
todo.txt
ASLEY/
test_2.py
new_names.csv
__pycache__
util/__pycache__
winds/__pycache__
layouts/__pycache__
data/

**/.DS_Store
echo ".DS_Store" >> ~/.gitignore_global
echo "._.DS_Store" >> ~/.gitignore_global
echo "**/.DS_Store" >> ~/.gitignore_global
echo "**/._.DS_Store" >> ~/.gitignore_global